html { 
  background: url(tempbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent{
background:rgba(0,0,0,0.5);
}

body {
    background-image: url("img/tempbg.jpg");
    background-color: transparent;
	font-family: "Lato";
	font-size: 1.25em;
	color:#000;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

a.linkfont {
    color: rgba(255,255,255,0.7);
    font-size: 3vw;
    background:rgba(0,0,0,0.5);
    padding:3%;
    padding-left: 30%;
    padding-right:30%;
}

a.linkfont:hover{
    color:rgba(255,255,200,0.7);
    text-decoration:none;
    background:rgba(0,0,0,0.4);
}

h1 {
    font-weight: bold;
    color: #b4cfd7;
    font-size:7vw;
    padding-bottom:10%;
}