html { 
  background: url(tempbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent{
background:rgba(0,0,0,0.8);
}

body {
    background-image: url("img/tempbg.jpg");
    background-color: transparent;
	font-family: "Lato";
	font-size: 1.25em;
	color:#000;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}